@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
*,
*:after,
*::before {
    box-sizing: border-box;
}

/* General styles and layout */

body {
    background: white;
    color: black;
    font-family: 'Open Sans', Arial, sans-serif;
    max-width: 100%;
}

.container {
    overflow: hidden;
    /* we don't want the pseudo-elements sticking out */
    max-width: 960px;
}

.container svg {
    display: block;
}

section {
    position: relative;
    background: #2980b9;
    color: #000;
    text-align: center;
}

/*** Individual section styles and separators ***/

/* Common style for pseudo-elements */

header section {
    padding-bottom: 50px;
}

header h1 {
    margin-bottom: 0px;
}

header i.fa {
    font-size: 2em;
    color: white;
}

header h2 {
    font-family: 'Open Sans';
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
}

header p {
    font-family: 'Open Sans';
    font-size: 18px;
    text-transform: capitalize;
    color: white;
}

.color {
    background-color: #f64747
}

.ss-style-doublediagonal {
    z-index: 1;
    padding-top: 4em;
    background: white;
}

.ss-style-doublediagonal::before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 50px;

    background: white;
    background: -moz-linear-gradient(to left top, white 50%, transparent 0);
    background: -webkit-linear-gradient(to left top, white 50%, transparent 0);
    background: -o-linear-gradient(to left top, white 50%, transparent 0);
    background: -ms-linear-gradient(to left top, white 50%, transparent 0);
    background: linear-gradient(to left top, white 50%, transparent 0);
}

section.main-content p {
    color: #565656;
    max-width: 70%;
    margin: 0 auto;
}

section.main-content .input-group {
    max-width: 50%;
    margin: 0 auto;
}

section.main-content .btn-danger {
    background-color: #f64747;
    min-width: 69px;
    font-size: 23px;
    padding: 0;
    border-color: #f64747;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

section.main-content .btn-danger:hover {
    background-color: #464646;
    border-color: #464646;
    color: #f64747;
}

section.main-content .form-control {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

section.main-content .form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.2);
}

section.main-content ul {
    margin-top: 1em;
}

section.main-content ul li:not(:first-child) {
    margin-left: 4px;
}

section.main-content ul li a {
    color: black;
    font-size: 18px;
}

section.main-content ul li a:hover {
    color: dimgray;
    font-size: 18px;
}

.footer {
    z-index: 1;
    margin-top: 8em;
    padding-top: 5px;
    background: #f64747;
    color: white;
    padding-bottom: 10px;
}

.footer::before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 50px;

    background: #f64747;
    background: -moz-linear-gradient(to left top, #f64747 50%, transparent 0);
    background: -webkit-linear-gradient(to left top, #f64747 50%, transparent 0);
    background: -o-linear-gradient(to left top, #f64747 50%, transparent 0);
    background: -ms-linear-gradient(to left top, #f64747 50%, transparent 0);
    background: linear-gradient(to left top, #f64747 50%, transparent 0);
}

.footer .owner {
  font-size: 1.2em;
}

.footer .credit {
  margin-top: 1em;
  font-size: 0.8em;
}

.footer .credit a {
    text-decoration: underline dotted;
    color: white;
}

figure img {
    max-width: 100%;
}

figure figcaption {
    margin-top: 1em;
}

.row:not(:first-child) {
    margin-top: 2em;
}

@media screen and (max-width: 768px) {
    header section {
        padding-bottom: 30px;
    }
    .ss-style-doublediagonal::before {
        top: -30px;
        height: 30px;
    }
    section.main-content .input-group {
        max-width: 90%;
        margin: 0 auto;
    }
    .footer {
        margin-top: 6em;
    }
    .footer::before {
        top: -30px;
        height: 30px;
    }
}
